.footer{
    color: #aaa;
    text-align: center;
    height: 150px;
    background: #2c2c2c;
    padding: 40px 0;

    .red-title{
        color: orangered;
      }
  }

  .cursor-pointer {
    cursor: pointer;
  }