@media (max-width:1160px){
    .movie-details-container .movie-main-details{
        width: 95%;
    }
}

@media (max-width:1066px){
    .movie-details-container .movie-main-details{
        grid-template-columns: .4fr 1fr;
    }

    .movie-specs{
        margin: 100px 0 0 0;
        grid-column:1/span 3 ;
    }
}

@media (max-width:930px){
    .movie-details-container .movie-main-details{
        grid-template-columns: .7fr 1fr !important;
    }
}

@media (max-width:791px){
    .movie-details-container .movie-trailer-grid{
        flex-direction: column;
    }
    .movie-details-container .movie-trailer-grid .similar-movies{
        margin: 30px 0 0 0;
        width: 100%;
    }

    .trailer{
        text-align: center;
    }

    .movie-details-container .movie-trailer-grid .similar-movies .similar-movies-right-contents .similar-movies-right{
        justify-content: center;
    }
}

@media (max-width:663px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:560px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr;
    }
    .movie-specs{
        grid-column: auto;
    }

    .movie-poster-left{
        display: flex;
        justify-content: center;
    }

    .movie-details-middle{
        margin: 50px 0 0 0;
    }
}

@media (max-width:560px){
    .movie-details-container{
        height: 250vh;
        max-height: 250vh;
    }
}


@media (max-width:437px){
    .trailer-iframe{
        width: 300px;
    }
}

@media (max-width:463px){
    .movie-details-container .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:389px){
    .movie-details-container .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:326px){
    .movie-details-container .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        grid-template-columns: 1fr 1fr;
    }
}

