@media (max-width:1160px){
    .movie-details-container .movie-main-details{
        width: 95%;
    }
}

@media (max-width:1066px){
    .movie-details-container .movie-main-details{
        grid-template-columns: .4fr 1fr;
    }

    .movie-specs{
        margin: 100px 0 0 0;
        grid-column:1/span 3 ;
    }
}

@media (max-width:1063px){
    .movie-details-container{
        height: 220vh !important;
    }
}

@media (max-width:930px){
    .movie-details-container .movie-main-details{
        grid-template-columns: .7fr 1fr !important;
    }
}

@media (max-width:791px){
    .movie-details-container .movie-trailer-grid{
        flex-direction: column;
    }
    .movie-details-container .movie-trailer-grid .similar-movies{
        margin: 30px 0 0 0;
        width: 100%;
    }

    .trailer{
        text-align: center;
    }

    .movie-details-container .movie-trailer-grid .similar-movies .similar-movies-right-contents .similar-movies-right{
        justify-content: center;
    }
}

@media (max-width:778px){
    .movie-details-container{
        height: 260vh !important;
     .movie-trailer-grid{
        flex-direction: column !important;
    }
}
}

@media (max-width:672px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (max-width:663px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:661px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr !important;
    }
}

@media (max-width:641px){
    .movie-details-container{
        height: 300vh !important;
    }
}

@media (max-width:560px){
    .movie-details-container .movie-main-details{
        grid-template-columns: 1fr;
    }
    .movie-specs{
        grid-column: auto;
    }

    .movie-poster-left{
        display: flex;
        justify-content: center;
    }

    .movie-details-middle{
        margin: 50px 0 0 0;
    }
}

@media (max-width:560px){
    .movie-details-container{
        height: 350vh !important;
    }

    .movie-details-container .movie-trailer-grid .similar-movies{
        margin: 0 auto !important;
    }
}


@media (max-width:437px){
    .trailer-iframe{
        width: 300px;
    }
}

@media (max-width:463px){
    .movie-details-container{
        height: 370vh !important;
     .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-row-gap: 2em;
    }
}
}

@media (max-width:415px){
    .movie-details-container .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (max-width:391px){
    .movie-details-container{
        height: 390vh !important;
    }
}

@media (max-width:337px){
    .trailer-iframe{
        width: 250px;
    }
}

@media (max-width:326px){
    .movie-details-container .movie-main-details .movie-specs .tech-specs .tech-specs-left-content .specs-box{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:320px){
    .movie-details-container {
        height: 440vh !important;
    }
}